# ==========================
# FastAPI Backend
# ==========================
fastapi
uvicorn[standard]

# ==========================
# Database
# ==========================
sqlalchemy
psycopg2-binary

# ==========================
# Environment Variables
# ==========================
python-dotenv
pydantic
pydantic-settings
email-validator

# ==========================
# Authentication
# ==========================
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# ==========================
# AI / LangChain
# ==========================
langchain
langchain-community
langchain-core
langchain-text-splitters
langgraph

# ==========================
# Groq
# ==========================
langchain-groq
groq

# ==========================
# Embeddings
# ==========================
sentence-transformers
transformers
torch

# ==========================
# Vector Database
# ==========================
faiss-cpu

# ==========================
# Document Processing
# ==========================
pypdf
python-docx
unstructured
markdown

# ==========================
# Utilities
# ==========================
numpy
pandas
requests
httpx
tqdm

# ==========================
# Development
# ==========================
black
isort